/*------------------------------------------------------------------------------------------*/
/* Author: Joel Pontes  --------------------------------------------------------------------*/
/*-------- Style of app --------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

.content {
    text-align: center;
    font-family: 'Sarala', sans-serif;
    color: black;

    margin-top: 48px;
    margin-bottom: 96px;
    margin-left: 30%;
    margin-right: 30%;
    
    padding: 25px;
    padding-top: 5px;
}

.content p {
    font-size: 20px;
    margin: 12px
}

.content-table {
    display: flex;
    flex-direction: column;
}

.content-table-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-table-logo-image{
    height: 124px;
}

.content-table-title {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 48px;
    color: black;
    margin-top: 32px;
}

.content-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-table-requests {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-requests-buttom {
    margin: 20px;
    height: 48px;
    width: 156px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color:aliceblue;
    background-color: #243b55;
}

.content-requests {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Sarala', sans-serif;
    text-align: start;
    font-size: 20px;
    border: 0.4px solid lightgray;
    border-radius: 15px;
    padding: 18px;
    padding-left: 36px;
    padding-right: 36px;
    margin: auto;
    tab-size: 4;
    color: gray;
    background-color: rgb(236, 236, 236);
}