<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="ISARVIT API">
   <link rel="stylesheet" href="/static/css/style_header.css">
   <link rel="stylesheet" href="/static/css/style_footer.css">
   <link rel="stylesheet" href="/static/css/style_documentation.css">
   <link rel="icon" type="image/x-icon" href="/static/images/ico_ISARVIT.ico">
   <title>ISARVIT - Documentation</title>
</head>
<body>
   
   <header class="header">

      <div class="header-logo-image">
         <img class="header-image" src="/static/images/logo_ISARVIT.png" alt="Logo ISARVIT">
         <h3 class="header-name">ISARVIT</h3>
      </div>
         
      <nav class="header-nav">
         <a class="header-nav-item" href="/templates/index.html">Home</a>
         <a class="header-nav-item" href="/templates/documentation.html">Documentation</a>
         <a class="header-nav-item" href="/templates/about.html">About Us</a>
         <a class="header-nav-item" href="/templates/app.html">Aplication</a>
     </nav>

      <div class="header-logos">
         <a href="https://www.github.com/joelkalil">
            <img class="header-logo" src="/static/images/github-inv.svg">
         </a>
         <a href="https://www.linkedin.com/company/isarvit/">
            <img class="header-logo" src="/static/images/linkedin.png">
         </a>
      </div>
      
      
   </header>

   <main class="content">

      <section class="documentation-principal">
         <h1 class="content-documentation-title">Documentation</h1>
         <p class="content-documentation-text">This API was developed to be used in ISARVIT, a medical project of students from Centrale Lille in Lille, France.</p>
      </section>

      <section class="documentation-secundary">

         <div class="documentation-secundary-endpoint">
            <h3 class="documentation-secundary-title">Endpoint</h3>
            <p class="documentation-secundary-text">All services can be accessed from the following HTTP[S] endpoint :</p>
            <p class="documentation-secundary-endpoint-link">https://api-isarvit.herokuapp.com</p>
            <p class="documentation-secundary-text">You can pass the parameters by GET in the link of request or by POST, both should work. POST methods use content type <strong>application/json</strong>.</p>
         </div>

         <div class="documentation-secundary-responses">
            <h3 class="documentation-secundary-title">Responses</h3>
            <p class="documentation-secundary-text">All responses are only in JSON format.</p>
         </div>

         <div class="documentation-secundary-authentication">
            <h3 class="documentation-secundary-title">Authentication</h3>
            <p class="documentation-secundary-text">ISARVIT API does require authentication to be used.</p><br>
            <p class="documentation-secundary-text">Example :</p>
            <p class="documentation-secundary-text">https://api-isarvit.herokuapp.com/API/command/user/hash</p>
         </div>

         <div class="documentation-secundary-requests">
            <h3 class="documentation-secundary-title">Requests</h3>
            <p class="documentation-secundary-requests-subtitle"><i><strong>Observation : Except for login and registration, use /user/hash in URL is required for all other requests. </strong></i></p>
            <p class="documentation-secundary-requests-subtitle"> "/API/login": </p>
            <p class="documentation-secundary-requests-text">
               Check if the username and password are corrects.<br>
               Parameters = user and password.<br>
               Return status equal success (with the hash in JSON) if this couple of user and password exist in database and the class of user (user or admin). If not, return status equal failed and a message.
            </p>
         </div>

         <div class="documentation-secundary-requests">
            <p class="documentation-secundary-requests-subtitle"> "/API/registration: </p>
            <p class="documentation-secundary-requests-text">  
                  Do the registration of a new user in database.<br>
                  Parameters = first name, last name, username, e-mail, password.<br>
                  Return status equal success (with the hash in JSON) if the data was put in database. Return status equal failed if the username is already in use or have any problem in database.
            </p>
         </div>

         <div class="documentation-secundary-requests">
            <p class="documentation-secundary-requests-subtitle"> "/API/getForms": </p>
               <p class="documentation-secundary-requests-text">
                  Get all forms which have the user as creator.<br>
                  Parameter = none. Obs: This parameter isn't passed in GET or POST, is just putted in the URL of request.<br>
                  Return a JSON with all forms which have this user as creator.
               </p>
         </div>

         <div class="documentation-secundary-requests">
            <p class="documentation-secundary-requests-subtitle"> "/API/addForm": </p>
                  <p class="documentation-secundary-requests-text"> 
                  Add a new form in database. <br>
                  Parameters = form name and content. <br>
                  Return status equal success if the form was putted in database with success.
            </p>
         </div>
      </section>

   </main>

   <footer class="footer">

      <div class="footer-universities">
         <p class="footer-universities-title">Powered by :</p>
         <div class="footer-universities-images">
            <img class="footer-universities-image" src="/static/images/Centrale_Lille.png">
            <img class="footer-universities-image" src="/static/images/Université_de_Lille_logo.png">
         </div>
         
      </div>
      
      <div class="footer-developed">
         <p class="footer-title">Developed by :</p>
         <div class="footer-developed-description">
            <a href="https://www.linkedin.com/in/joelkalil/">
               <img class="footer-image" src="/static/images/joel.png">
            </a>
            <p class="footer-developed-description-name">Joel Pontes</p>
            <p class="footer-developed-description-text">Student in École Centrale Lille</p>
         </div>
      </div>
      
   </footer>
   
</body>
</html>