<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="ISARVIT API">
   <link rel="stylesheet" href="/static/css/style_header.css">
   <link rel="stylesheet" href="/static/css/style_footer.css">
   <link rel="stylesheet" href="/static/css/style_index.css">
   <link rel="icon" type="image/x-icon" href="/static/images/icone_ISARVIT.ico">
   <title>ISARVIT - Home</title>
</head>
<body>
   
   <header class="header">

      <div class="header-logo-image">
         <img class="header-image" src="/static/images/logo_ISARVIT.png" alt="Logo ISARVIT">
         <h3 class="header-name">ISARVIT</h3>
      </div>
         
      <nav class="header-nav">
         <a class="header-nav-item" href="/templates/index.html">Home</a>
         <a class="header-nav-item" href="/templates/documentation.html">Documentation</a>
         <!--<a class="header-nav-item" href="/templates/about.html">About Us</a>-->
         <a class="header-nav-item" href="/templates/app.html">Aplication</a>
     </nav>

      <div class="header-logos">
         <a href="https://github.com/ISARVIT">
            <img class="header-logo" src="/static/images/github-inv.svg">
         </a>
         <a href="https://www.linkedin.com/company/isarvit/">
            <img class="header-logo" src="/static/images/linkedin.png">
         </a>
      </div>
      
   </header>
   
   <main class="content">

      <section class="principal-content">
         <div class="principal-content-write">
            <h1 class="principal-content-write-title"> API ISARVIT </h1>
            <h2 class="principal-content-write-text"> The API to support and make easy the front-end life's.</h2>
         </div>
         <img class="principal-content-image" src ="/static/images/medical-icon.png">
      </section>

      <section class="secundary-content">
         <img class="secundary-content-image" src="/static/images/logo_ISARVIT.png">
         <div class="secundary-content-text">
            <h1 class="secundary-content-title">Project ISARVIT</h1>
            <p class="secundary-content-text">A new way to make medical reports.</p>
         </div>
      </section>
      
   </main>

   <footer class="footer">

      <div class="footer-universities">
         <p class="footer-universities-title">Powered by :</p>
         <div class="footer-universities-images">
            <img class="footer-universities-image" src="/static/images/Centrale_Lille.png">
            <img class="footer-universities-image" src="/static/images/Université_de_Lille_logo.png">
         </div>
         
      </div>
      
      <div class="footer-developed">
         <p class="footer-title">Developed by :</p>
         <div class="footer-developed-description">
            <a href="https://www.linkedin.com/in/joelkalil/">
               <img class="footer-image" src="/static/images/joel.png">
            </a>
            <p class="footer-developed-description-name">Joel Pontes</p>
            <p class="footer-developed-description-text">Student in École Centrale Lille</p>
         </div>
      </div>
      
   </footer>

</body>
</html>
