<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="ISARVIT API">
   <link rel="stylesheet" href="/static/css/style_header.css">
   <link rel="stylesheet" href="/static/css/style_footer.css">
   <link rel="stylesheet" href="/static/css/style_app.css">
   <link rel="icon" type="image/x-icon" href="/static/images/icone_ISARVIT.ico">
   
   <title>ISARVIT</title>

   <script src="/static/js/main.js"></script>
</head>
<body>
   
   <header class="header">

      <div class="header-logo-image">
         <img class="header-image" src="/static/images/logo_ISARVIT.png" alt="Logo ISARVIT">
         <h3 class="header-name">ISARVIT</h3>
      </div>
         
      <nav class="header-nav">
         <a class="header-nav-item" href="/templates/index.html">Home</a>
         <a class="header-nav-item" href="/templates/documentation.html">Documentation</a>
         <!--<a class="header-nav-item" href="/templates/about.html">About Us</a>-->
         <a class="header-nav-item" href="/templates/app.html">Aplication</a>
     </nav>

      <div class="header-logos">
         <a href="https://github.com/ISARVIT">
            <img class="header-logo" src="/static/images/github-inv.svg">
         </a>
         <a href="https://www.linkedin.com/company/isarvit/">
            <img class="header-logo" src="/static/images/linkedin.png">
         </a>
      </div>
      
   </header>
   
   <main class="content">
      <div class="content-table">
         
         <div class="content-table-logo">
            <img class="content-table-logo-image" src="/static/images/logo_ISARVIT.png">
            <h2 class="content-table-title">ISARVIT</h2>
         </div>

         <div id="login" class = "content-table-requests">
            <input class="content-requests-buttom" type = "submit" value = "login" onclick="login();"/>
            <input class="content-requests-buttom" type = "submit" value = "registration" onclick="registration();"/>
         </div>
      </div>
   </main>

   <footer class="footer">

      <div class="footer-universities">
         <p class="footer-universities-title">Powered by :</p>
         <div class="footer-universities-images">
            <img class="footer-universities-image" src="/static/images/Centrale_Lille.png">
            <img class="footer-universities-image" src="/static/images/Université_de_Lille_logo.png">
         </div>
         
      </div>
      
      <div class="footer-developed">
         <p class="footer-title">Developed by :</p>
         <div class="footer-developed-description">
            <a href="https://www.linkedin.com/in/joelkalil/">
               <img class="footer-image" src="/static/images/joel.png">
            </a>
            <p class="footer-developed-description-name">Joel Pontes</p>
            <p class="footer-developed-description-text">Student in École Centrale Lille</p>
         </div>
      </div>
      
   </footer>

</body>
</html>